@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.btn {
  background-color: var(--cyan);
}

nav {
  width: 330px;
  height: fit-content;
  background-color: var(--darkViolet);
  z-index: 3;
}

li {
  color: white;
}

p {
  color: var(--grayishViolet);
}

.illustration {
  transform: scale(1.8);
  padding-left: 22vw;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.article-illustration {
  overflow: hidden;
}

@media(min-width: 750px) {
  li {
    color: var(--grayishViolet);
  }

  .illustration {
    transform: scale(1);
    padding-left: 7vw;
    padding-top: 7vh;
  }
}